.site-nav-toggle, .site-nav-right {

  +mobile() {
    flex-column();
    visibility :visible !important;
  }

  .toggle {
    color: var(--text-color);
    padding: 10px;
    width: 22px;

    .toggle-line {
      background: var(--text-color);
      border-radius: 1px;
    }
  }
}

  .site-nav-toggle {
    visibility :hidden;
  }

.site-nav {
  display: block;

  +mobile() {
    clear: both;
    display: none;
  }

  &.site-nav-on {
    display: block;
  }
}
